:root {
    --secondary-color: rgb(165, 35, 35);
    --third-color: rgb(163, 141, 66);
}

body {
    background-color: rgb(18, 21, 24);
    font-family: Roboto;
    font-size: 3rem;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

.main-title {
    max-height: 15%;
}

.game-container {
    height: 100vh;
    height: 100dvh;
    max-height: 100%;
    width: 100vw;
    width: 100dvw;
    max-width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#Gameboard {
    max-width: 45%;
    min-width: min-content;
    min-height: 50%;
    max-height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
}

.player-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-color);

    border: inset 10px var(--third-color);

    max-width: 100%;
    max-height: 100%;
}

.player-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(20% + 3rem);
    text-align: center;

}

.player-title {
    height: min-content;
}

.dice-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(80%);
    width: 100%;

}

.dice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 100%;
}

.dice-img {
    max-height: 90%;
    max-width: 90%;
}

.roll-button {
    width: 20%;
    height: 10%;
    font-size: inherit;
    font-family: inherit;
    border: none;
    transition-duration: .5s;
}

.roll-button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.roll-button:active {
    background-color: white;
    color: var(--secondary-color);
}

@media screen and (max-width: 1100px) {

    body {
        font-size: 2rem;
    }

    .main-title {
        font-size: 5rem;
    }

    #Gameboard {
        min-height: 40%;
    }

    .player-board {
        border: inset 8px var(--third-color);
    }


    .roll-button {
        height: 8%;
    }
}

@media screen and (max-width: 750px) {
    body {
        font-size: 1.5rem;
    }

    .game-container {
        justify-content: center;
        row-gap: 10%;
    }

    .main-title {
        font-size: 4rem;
    }

    #Gameboard {
        min-height: 30%;
    }

    .player-board {
        border: inset 6px var(--third-color);
    }


    .roll-button {
        height: 6%;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1rem;
    }

    .main-title {
        font-size: 3rem;
    }

    .game-container {
        justify-content: center;
        row-gap: 10%;
    }

    #Gameboard {
        min-height: 25%;
    }

    .player-board {
        border: inset 4px var(--third-color);
    }


    .roll-button {
        height: 6%;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: .75rem;
    }

    .game-container {
        justify-content: center;
        row-gap: 5%;
    }

    .main-title {
        font-size: 2rem;
    }

    #Gameboard {
        min-height: 10%;
    }

    .player-board {
        border: inset 4px var(--third-color);
    }


    .roll-button {
        height: 4%;
    }
}